.container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
  padding: 20px;
}
.card{
 background-color: white;
 color:black;
 display: grid;
 gap:10px;
 text-align: center;
 padding: 10px;
 border-radius: 10px;
}
.card-img{
  padding-top: 70% ;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-title{
  font-weight: bold;
  font-size: 25px;
}
.card-period{
  font-size: 25px;
}